
.intro{
  margin-top: 200px;
  text-align: center;
  color: white;

}
body {
  background-color: black;
}
.section1{
  background-image: url("./images/bg-image-3.jpg");
  filter: brightness(50%);
  background-size: cover;
  text-align: center;
  

}
.section2{
  text-align: center;
  color: white;
  background-color: black;
}
.section3{
  text-align: center;
  color: aliceblue;
}
.navsection3{
  margin-left: 550px;
}

.a{
  text-decoration: none;
  color: white;
  background-color:black;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.nav-item:hover {
  background-color: yellow;
  border-radius: 30px;
  

}

/* .navsection3 {
  background-color: blue;
  border-radius: 40px;
  text-align: center;
} */
.nav-link {
  color: yellow;
}

 


.second-section .icon {
  background-color: transparent;
  box-shadow: none;
  padding: 0 35px;
  margin-top: 25px;
}
/* .style-icons {
  border: 1px solid black;
  border-radius: 50px;
  width: 20px;
  height: 250px;
  transform: scale(1.5);
} */
.style-icons.activity {
  /* background: linear-gradient(0deg, rgb(71, 71, 124), rgb(42, 42, 139)); */
  background-color: rgb(4, 4, 24);
}
.style-icons.map {
  /* background: linear-gradient(0deg, rgb(71, 71, 124), rgb(42, 42, 139)); */
  background-color: rgb(37, 5, 5);
}
.style-icons.cast {
  /* background: linear-gradient(0deg, rgb(71, 71, 124), rgb(42, 42, 139)); */
  background-color: rgb(24, 3, 24);
}
.style-icons img {
  transform: scale(3);
}
.content h4 {
  color: white;
}
.content p {
  color: gray;
}
.content {
  text-align: center;
}
.content2 {
  text-align: center;
}
h1 {
  color: palevioletred;
}
.sectionhandling {
  color: palevioletred;
}
.container {
  color: aliceblue;
}

